{% extends 'quora/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Contact us {{ block.super }}{% endblock %}
{% block content %}
{% load static %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/about.css' %}" type="text/css" />
    <title></title>
</head>
<body>
<div class ="header">
    <div class="comp"><h2>Compsoft Technologies</h2></div>
    <div>	<img src="/media/logo.png" width="40" height="40"></div>
    
</div>

    <div class="about-section" style="padding-top: 10px;">
       <div class="inner-container">
           <h1 style='text-decoration-line: underline;'>
               About Us
               <!-- <div class="border" style="  text-align: center;"></div> -->
           </h1>
           <p class="text">
              The race for digital transformation is on. In this globally connected on-demand world with rapid advancements in internet technologies, businesses worldwide are under constant pressure to add innovative real-time capabilities to their applications to respond to market opportunities.

​

Every business worldwide is building event-driven, real-time applications - from financial services, transportation, and energy, to retail, healthcare, and Gaming companies.

Our endeavour is to make it easy to develop innovative real-time applications and efficient to operate them in production.

​

We have a proven record of building highly scalable, world-class consulting processes that offer tremendous business advantages to our clients in the form of huge cost-benefits, definitive results and consistent project deliveries across the globe.

​

We prominently strive to improve your business by delivering the full range of competencies including operational performance, developing and applying business strategies to improve financial reports, defining strategic goals and measure and manage those goals along with measuring and managing them.
           </p>
           <button><a href="https://www.compstechnologies.com/">Read More</a></button>
       </div>
    </div>
</body>
</html>

{% endblock %}